<h1>Liste des quittances primes</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Libelle</th>
        <th scope="col">Montant</th>
        <th scope="col">Date Ajout</th>
        <th scope="col">Actions</th>
        
      </tr> 
    </thead>
    <tbody>
      <tr *ngFor="let qp of quittancesPrimes;let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{qp.libelle}}</td>
        <td>{{qp.montant}}</td>
        <td>{{qp.dateAjout}}</td>
        <td ><button class="btn"(click)="goUpdate(qp)">Modifier</button> <button class="btn" (click)="deleteQp(qp)">Supprimer</button></td>
        
      </tr>
     
    </tbody>
  </table>