<nav class="navbar bg-body-tertiary">
    <h1>Gestion des Biens</h1>

    <form class="container-fluid justify-content-start">
      <button class="btn btn-outline-success me-2" type="button" routerLink="list">liste des biens</button>
      <button class="btn btn-outline-success me-2" type="button" routerLink="add">Nouveau biens</button>
      <button class="btn btn-outline-success me-2" type="button" routerLink="dashboard">Dashboard</button>
      <button class="btn btn-outline-success me-2" type="button" routerLink="types">Gestion Types bien</button>

      
    </form>
  </nav>
<div class="container">
    
    <router-outlet/>
</div>