<nav class="navbar bg-body-tertiary">
    <h1>Gestion des reglements</h1>

    <form class="container-fluid justify-content-start">
      <button class="btn btn-outline-success me-2" type="button" routerLink="list">liste des Reglements</button>
      <button class="btn btn-outline-success me-2" type="button" routerLink="add">Nouveau Reglement</button>
      <button class="btn btn-outline-success me-2" type="button" routerLink="dashboard">Dashboard</button>
      <button class="btn btn-outline-success me-2" type="button" routerLink="compteBancaires">Gestion des comptes bancaires</button>
      
      
    </form>
  </nav>
<div class="container">
    
    <router-outlet/>
</div>