<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/personnes">Gestion des clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/comptes/list">Gestion des comptes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/articles/list">Gestion des articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contrats/list">Gestion des contrats</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/quittancePrimes/list">Gestion des quittances prime</a>
          </li>
          
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/assureurs/list">Gestion des assureurs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/marchandises/list">Gestion des marchandises</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sinistres/list">Gestion des sinistres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reglements/list">Gestion des reglements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/biens/list">Gestion des biens</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/quittances/list">Gestion des quittances</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/polices/list">Gestion des Polices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Configuration</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
<router-outlet />
